
/* Whole Website */

html{
  font-size: 18px;
  line-height: 1.4;
}

.container{
  max-width: 960px;
  margin: 0px auto;
}

.flex{
  display: flex;
  justify-content: flex-end;
}

/* Banner */

.banner{
  background: url(../images/glasses-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 30rem;
}

/* Header */

header{
  position: relative;
  top: 1rem;
  display: flex;
  background-color: cadetblue;
  z-index: 1;
}

.headline{
  display: flex;
  align-items: center;
  flex-grow: 1
}

header img{
  height: 1.5rem;
  padding: 0rem 1rem 0rem 2rem;
}

header span{
  color: white;
  font-size: 1rem;
  font-family: Helvetica, sans-serif;
}

nav span{
  display: inline-block;
  padding: 1rem 2rem 1rem 0rem;

}

.mobile-nav{
  display: none;
}

a{
  color: white;
  font-size: 1rem;
  font-family: Helvetica, sans-serif;
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  header{
    top: 0rem;
  }
}

@media only screen and (max-width: 615px) {
  .large-nav{
    display: none;
  }

  .mobile-nav{
    display: block;
  }
}

/* Bannerline */

.bannerline{
  display: inline-flex;
  background-color: white;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  padding: 1.5rem 5rem;
  margin-top: 10rem;
  margin-right: -2rem;
}

@media only screen and (max-width: 768px) {
  .bannerline{
    font-size: 1.33rem;
    margin: 5rem 2rem 0rem 0rem;
    padding: 0.75rem 4rem;
  }

  .banner{
    height: 22rem;
  }
}

@media only screen and (max-width: 615px) {
  .bannerline{
    margin-top: 9rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-right: 0rem;

  }

  .banner{
    height: 17rem;
    background-position: 20%;
  }
}
/* Serivces */

.services{
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  margin: 3rem 3rem;
  padding: 0rem 3rem;
}

.service-image{
    height: 8rem;
}

.service{
  text-align: center;
}

.exam img{
  width: 3.5rem;
}

.fittings img,
.delivery img{
  width: 5rem;
}

.description{
  display: block;
  padding-top: 1rem;
  text-align: center;
  padding: 1rem;

}

@media only screen and (max-width: 615px) {
  .services{
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 1rem;
    align-items: center;
    margin: 0rem;
    padding-bottom: 2rem;
  }

  .service-image{
    padding-top: 1.54rem;
    height:auto;
  }
}

/* Business Info*/

.business-info{
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.info{
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 5%;
}

.title{
  width: 10rem;
  display: inline-flex;
  background-color: cadetblue;
  padding: 0.5rem 1.25rem;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 1rem;
  color: white;
}

@media only screen and (max-width: 615px) {
  .business-info{
    display: inline-flex;
    flex-direction: column;
    flex-grow: 1;
    height: auto;
    width: 100%;
  }

  .title{
    flex-grow: 1;
    justify-content: center;
    max-width: 100%;
  }

  .text{
    flex-grow: 1;
    padding-bottom: 4rem;
  }

}

footer{
  display: flex;
  align-items: center;
  background-color: azure;
  margin-top: 5rem;
  padding: 4rem 0rem 4rem 4rem;
}

footer img{
  height: 1.5rem;
  padding-right: 1rem;
}
