
/* Whole Website */

html{
  font-size: 18px;
  line-height: 1.4;
}

.container{
  max-width: 960px;
  margin: 0px auto;
}

/* Banner */

.banner{
  background: url(../images/glasses-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 30rem;
}

/* Header */

header{
  position: relative;
  top: 1rem;
  display: flex;
  background-color: cadetblue;
  z-index: 1;
}

.headline{
  display: flex;
  align-items: center;
  padding-right: 19rem;
}

header img{
  height: 1.5rem;
  padding: 0rem 1rem 0rem 2rem;
}

header span{
  color: white;
  font-size: 1rem;
  font-family: Helvetica, sans-serif;
}

nav{
  display: flex;
}

nav span{
  display: inline-block;
  padding: 1rem 2rem 1rem 0rem;

}

a{
  color: white;
  font-size: 1rem;
  font-family: Helvetica, sans-serif;
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  header{
    top: 0rem;
  }

  nav{
    flex-direction: row;
  }

  .banner{
    max-width: 768px;
  }
}

/* Bannerline */

.bannerline{
  display: inline-block;
  float: right;
  background-color: white;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  padding: 1.5rem 5rem;
  margin-top: 10rem;
}

/* Serivces */

.services{
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  margin: 3rem 3rem;
  padding: 0rem 3rem;
  height: 8rem;
}

.service{
  text-align: center;
}

.exam img{
  width: 3.5rem;
}

.fittings img,
.delivery img{
  width: 5rem;
}

.description{
  display: block;
  padding-top: 1rem;
  text-align: center;
  padding-bottom: 1rem;
}

/* Business Info*/

.business-info{
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  margin: 5%;
}

.info{
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title{
  width: 10rem;
  display: inline-flex;
  background-color: cadetblue;
  padding: 0.5rem 1.25rem;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 1rem;
}

footer{
  display: flex;
  align-items: center;
  background-color: azure;
  margin-top: 5rem;
  padding: 4rem 0rem 4rem 4rem;
}

footer img{
  height: 1.5rem;
  padding-right: 1rem;
}
